<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Verda_Hukuk_Raporlama.Properties.Settings.Cs" connectionString="Data Source=MEHMET\SQLSERVER;Initial Catalog=YNSSFS14;Persist Security Info=True;User ID=YNSSFS14;Password=PSWSFS14" providerName="System.Data.SqlClient"/>
        <add name="Verda_Hukuk_Raporlama.Properties.Settings.CsRaporlama" connectionString="Data Source=MEHMET\SQLSERVER;Initial Catalog=VerdaHukukRaporlama;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
